body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: repeating-linear-gradient(
        45deg,
        #ddd 0px,
        #ddd 25px,
        #fff 25px,
        #fff 50px
    );
}
